<html style="font-family: Arial, Helvetica, sans-serif; font-size: 20px">
  <head>
    <title>Account Creation</title>
  </head>

  <body>
    <div>
      <div style="text-align: center; position: relative">
        <img src="https://cdn-icons-png.flaticon.com/512/1700/1700663.png" width="100px" height="100px" />

        <div style="display: flex; justify-content: center">
          <div style="width: 920px; display: inline-block">
            <h1 style="text-align: left">Hi,</h1>
            <p style="text-align: left; font-size: 18px">
              Welcome to the Time Tracker Application, your account has been created, use the following link to set Password:
              <a style="font-size: 18px; font-weight: 600; text-decoration: none" href="<%= url %>">set password</a>
            </p>

            <p style="text-align: left; font-size: 18px">
              <strong> Remember to leave a feedback</strong> and let us know if you like the Platform and what you would do to improve it, <br />
              your opinion is very important for us.
            </p>
            <br />
            <br />
            <p style="text-align: center">
              This is an automatic e-mail, do not reply. <br />
              If you encounter any problem, you can contact us at <a href="javascript:void(0)"> support@timetracker.net</a>
            </p>
            <p style="color: #797373d4; font-size: 15px; text-align: center">
              The entire content of this email message is confidential. This email is intended for an individual or entity to whom they are addressed.
              In case you are not the addressee of this email, and you have received it in error, immediately contact us and make sure to delete this
              email from your system. This email should not be disseminated, distributed or copied. Disclosing, copying, distributing, or taking any
              action in reliance to the email content is strictly prohibited and goes against our Privacy Policy.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
